Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
Flask-WTF==1.2.1
Flask-Migrate==4.0.5
email-validator==2.1.1
python-dotenv==1.0.1
Werkzeug==2.0.1
reportlab==4.0.4
psycopg2-binary
gunicorn==21.2.0 